/* Global styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    display: flex;
    background-color: #11171d; /* Dark background color */
    color: #f5f5f5; /* Light text color */
}

/* Container styles */
.container {
    display: flex;
    width: 100%;
    position: relative;
}

/* Sidebar styles */
.sidebar {
    width: 200px;
    padding: 20px;
    background-color: #1d252c; /* Dark sidebar background */
    border-right: 1px solid #161f26; /* Darker border */
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    overflow-y: auto;
    height: 100vh; /* Full viewport height */
}

.sidebar h2 {
    font-size: 20px;
    margin-bottom: 20px;
    color: #ffffff; /* White text color for title */
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar li {
    margin-bottom: 10px;
}

.sidebar a {
    text-decoration: none;
    color: #868686; /* Disabled text color */
    font-size: 16px;
    display: block; /* Ensure the background color covers the full width */
    padding: 10px; /* Add padding for better visual */
    border-radius: 8px; /* Rounded corners */
}

.sidebar a:hover {
    color: #00ffef; /* Cyan hover color */
}

.sidebar .active {
    background-color: #1d252c; /* Dark background color */
    color: #ffffff; /* White text color */
    font-weight: bold;
    border: 1px solid #00ffef; /* Thinner cyan border color */
    border-radius: 8px; /* Rounded corners for the border */
}

/* Content styles */
main.content {
    flex: 1;
    display: flex;
    padding: 20px;
    margin-left: 220px; /* Adjust to accommodate sidebar width */
    justify-content: center; /* Center content horizontally */
}

.content-section {
    padding: 20px;
    margin-bottom: 20px;
    background-color: #11171d; /* Match page background color */
    color: #f5f5f5; /* Light text color */
    border: none; /* No border */
    border-radius: 8px; /* Rounded corners */
    max-width: 2000px; /* Set a max width to control section width */
    width: 100%; /* Full width up to max-width */
    box-sizing: border-box; /* Ensure padding is included in width */
    text-align: left; /* Align text to the left */
}

.content-section h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

.content-section p {
    font-size: 16px;
    line-height: 1.6;
}

.content-section pre {
    margin: 10px 0;
    padding: 20px; /* Padding inside code block */
    background-color: #1d1f23; /* Slightly lighter background for code blocks */
    border-radius: 8px; /* Rounded corners for code blocks */
    overflow: auto; /* Scrollbars if needed */
    max-width: calc(100% - 40px); /* Adjust for padding */
}

/* Table of Contents styles */
.toc {
    width: 250px; /* Increased width for TOC */
    padding: 20px;
    background-color: #11171d; /* Match main site background */
    position: fixed;
    right: 0; /* Align TOC to the right side */
    top: 0;
    height: 100vh; /* Full viewport height */
    overflow-y: auto;
    z-index: 10; /* Ensure TOC is above other content */
    border: none; /* Remove border */
}

.toc h3 {
    font-size: 20px;
    margin-bottom: 10px; /* Reduced margin */
    color: #ffffff; /* White text color for title */
}

.toc ul {
    list-style-type: none;
    padding: 0;
}

.toc li {
    margin-bottom: 4px; /* Reduced spacing between TOC items */
}

.toc a {
    text-decoration: none;
    color: #f5f5f5; /* Light text color */
    font-size: 16px;
    display: block; /* Ensure the background color covers the full width */
    padding: 8px; /* Adjusted padding for better visual */
    border-radius: 8px; /* Rounded corners */
}

.toc a:hover {
    color: #00ffef; /* Cyan hover color */
}

.toc .active {
    background-color: #1d252c; /* Dark background color */
    color: #00ffef; /* Cyan text color */
    font-weight: bold;
    border: 1px solid #00ffef; /* Thinner cyan border color */
    border-radius: 8px; /* Rounded corners for the border */
}
